
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

@font-face
{
    font-family: 'Oxygen';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Oxygen-Regular.ttf');
}

@font-face
{
    font-family: 'Passion One';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/PassionOne-Regular.ttf');
}

body,
html
{
    font-family: 'Oxygen', sans-serif;

    height: 100%;

    background-color: #d3d3d3;
    background-repeat: no-repeat;
}

.main
{
    margin-top: 70px;
}

h1.title
{
    font-family: 'Passion One', cursive;
    font-size: 50px;
    font-weight: 400;
}

hr
{
    width: 10%;

    color: #fff;
}

hr.break-inside
{
    width: 50%;

    color: #000;
}

.form-group
{
    margin-bottom: 15px;
}

label
{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder
{
    font-size: 11px;

    padding-top: 3px;
}

.main-login
{
    -webkit-border-radius: 2px;
    /* shadows and rounded borders */
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
            box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.login-button-facebook
{
    color: white;
    background: #3b5998;
}

.login-button-google
{
    color: white;
    background: #c32f10;
}


.main-center
{
    max-width: 380px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 40px 40px;
}

.login-button
{
    margin-top: 5px;
}

.login-register
{
    font-size: 11px;

    text-align: center;
}
